#icon{
    height: 62px;
}

body{
    margin: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: rgb(58, 145, 221);
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}