#icon {
    height: 62px;
}

body {
    margin: 0;
    background-color: rgb(150, 196, 255);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: rgb(41, 133, 219);
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#noticias {
    display: flex;
    justify-content: space-between;
    background-color: rgb(56, 100, 196);
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
}

.noticia {
    background-color: rgb(121, 139, 243);
    border: 5px solid white;
    padding: 5px;
    margin: 40px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img_noticia {
    height: 150px;
}

h2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.escalacao{
    background-color: rgb(56, 100, 196);
    padding: 40px;
    margin: 40px;
    border-radius: 30px;
}

#jogadores{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.jogador{
    padding: 15px;
    width: 150px;
}

.img_jogador{
    width: 100px;
}

footer{
    background-color: azure;
    padding: 10px;
    text-align: center;
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}